.container{
    width: 30%; /* o cualquier otro valor que desees */
    display: inline-block;
    margin: 0 1%;
    
}


.image{
    height: 300px;
    width: 300px;
    display: flex;
  
}

.text{
    justify-content: left;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  