.logo{
    display: flex;
    width: 100px;
    margin-top: 0px;
    border-radius: 50px;
    align-self: flex-start;
    margin-left: 150px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  }
  .logoContainer {
    position: absolute;
    top: 0;
    left: -150px;

  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .previewImage {
    display: block;
    margin: 0 auto;
  }
  
  .buttonDelete {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  .title{
    background-color:rgba(127, 255, 212, 0.909);  
    border-bottom: 3px solid rgb(50, 203, 173);
  }
  