
.user {    
    display: flex;
    background-color: rgba(124, 216, 234, 0.498);
    border-style:solid;
    border-width: 1px;
    color: rgb(28, 17, 96); 
    width: 250px;
    height:fit-content;
    padding: 25px;
    margin:10px;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;

}
a:link{ text-decoration: none; }


.users{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;  
    font-size: 15px;
    text-decoration: none;

}

.detailsUser{
    
    display: grid;
    grid-template-columns: repeat(2, 50%);
    flex-direction: column;
    justify-items: end;
    text-decoration: none;

}

.info{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;


}

.img{
    padding: 10px;
    align-self: center;
    width: 90%;
    
}

.name{
    margin-top: -40px;
   
}

.city{
    display: flex;
    justify-content: end;
    text-decoration: none;
}

.search-nav{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
  }

.Users-title{
  margin: 30px;
  font-size: 30px;}