.doctors-list{
    flex-direction: row;
    /* flex-wrap: wrap;   */
    font-size: 15px;
    display: grid;
    grid-gap: 5px;

}
h2,h3 {
    display: grid;
    flex-direction: column;
  }

.doctor{
    display:flex;
    background-color: rgba(255, 255, 255, 0.498);
    border-bottom: 1px solid black;
    color: rgb(28, 17, 96); 
    flex-direction: row;
    justify-content: space-evenly;
}



