.container {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    align-content: center;
    background-color:rgba(127, 255, 212, 0.909);  
    border-bottom: 3px solid rgb(50, 203, 173);}

.dropdownContainer{
 position: relative;
}

.dropdownMenu{
    position: absolute;  
}

.dropdownContainer,
.dropdownMenu,
.login,
.premium:hover{
    cursor: pointer;
    
}

.menu,
.premium:hover{
background-color: rgba(40, 143, 112, 0.628); 
}



ul {
    list-style: none;
  }

  .premium{
    background-color: rgba(0, 255, 157, 0.014);
    border-style: solid;
    border-color: rgba(175, 247, 236, 0);
    padding: 20px;
  }

.usersmenu, .doctorsmenu{
    background-color:rgb(113, 230, 191);
    border-style: solid;
    border-color:rgb(50, 203, 173);
    padding: 21px;
    margin-top: -15px;
}

.usersmenu{
    margin-bottom: 20px;
}

.doctorsmenu{
    margin-top: -23px;
}


  .brain{
    display: flex;
    margin-top: 50px;
    border-radius: 50px;
    align-self: flex-start;
    margin-left: -50px;
    border-style: solid;
    border-color: rgb(34, 186, 176);
  }
