.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    align-content: center;
    background-color:aquamarine;    
}


.btn{
    border-radius: 3rem; 
}


.dropdownContainer{
 position: relative;
}

.dropdownMenu{
    position: absolute;
    
}


.dropdownContainer,
.dropdownMenu,
.login,
.premium:hover{
    cursor: pointer;
    
}

.menu,
.premium:hover{
background-color: rgba(40, 143, 79, 0.628); 
color: aliceblue;
}



ul {
    list-style: none;
    
  }

  .premium{
    background-color: rgba(0, 255, 85, 0.646);
    border-style: solid;
    border-color: rgb(175, 247, 236);
    padding: 20px;
  }

.usersmenu, .doctorsmenu{
    background-color: rgb(1, 235, 137);
    border-style: solid;
    border-color: rgb(175, 247, 236);
    padding: 21px;
    margin-top: -18px;
}

.usersmenu{
    margin-bottom: 20px;
}

.doctorsmenu{
    margin-top: -23px;
}


  .brain{
    display: flex;
    margin-top: 50px;
    border-radius: 50px;
    align-self: flex-start;
    margin-left: -150px;
    border-style: solid;
    border-color: rgb(34, 186, 176);
  }